body * {
  box-sizing: border-box;
}

main {
  font-size: 0;
}

.parent {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 800px; 
  border: 1px solid black;

}

.centered {
  text-align: center;
}

.inner-one {
   height: 200px;
   width: 50%;
}

.inner-two {
  width: 33.33%;
  height: 300px;
}

.box {
  display: inline-block;
  border: 1px solid black;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.grey {
  background-color: grey;
}

.black {
  background-color: black;
}

.orange {
  background-color: orange;
}