nav {
  padding-left: 60px;
  padding-right: 60px;
}

.Container{
  height: 60px;
  width: 100%;
  position: fixed;
  background-color: grey;
}

.pp { 
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
}

nav ul {
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav li::after {
  content: "|";
  margin-left: 5px;
}

nav a:hover {
  color: black;
}

body {
  background: url(../images/outerspace_landscape.jpeg) no-repeat;
  background-size: cover;
}

main{ 
  padding-top: 90px;
}
.box {
  margin-top: 150px;  
  width: 600px;
  height: 300px;
  position: relative;
  margin-left:  auto;
  margin-right: auto;
  border: 8px dotted green;
}

.io, .ioo {
  position: absolute;
  width: 200px;
}

.io {
  left: -90px;
  top: -90px;
}

.ioo {
  right: -60px;
  bottom: -120px;
}